body {
  margin: 0;
  font-family: Montserrat;
}

#hero {
  width: 100%;
  height: 100vh;
  background-image: url("/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: center;
}

#hero h1, h2 {
  margin: 0;
  width: 100%;
  text-align: center;
  font-size: 24px;
}

#hero .title h1 {
    font-family: "Style Script", cursive;
    font-weight: 400;
    font-size: 70px;
    font-style: italic;
    margin-bottom: -20px;
    color: white;
}

#hero .title h2 {
    font-family: Montserrat;
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
}

#hero .countdown {
    height: 150px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    margin-top: 30px;
}

#hero .countdown h2 {
  color: black;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  padding: 8px 0;
  border-bottom: 1px solid black;
}

#hero .countdown .counter {
  margin-top: 10px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}